$accent-color: #4258ff;
$accent-color-900: #5468ff;
$accent-color-800: #6779ff;
$accent-color-700: #7a8aff;
$accent-color-600: #8d9aff;
$accent-color-500: #a0abff;
$accent-color-400: #b3bcff;
$accent-color-1100: #3b4fe5;
$accent-color-1200: #3446cc;

$bg-light: #f9f9f9;
$text-light: #0c0c0c;
$page-loader-light: #4258ff;
$navbar-bottom-border-light: #eaeaea;
$heading-text-light: #0c0c0c;
$subheading-text-light: #242424;
$title-text-light: #3c3c3c;
$subtitle-text-light: #545454;
$info-text-light: #9f9f9f;

//############## Transparent Button #################
$transparent-button-hover-background-light: #f1f1f1;
$border-uf-light: #eaeaea;
$transparent-button-hover-background-dark: #171717;
$border-uf-dark: #242424;

//############## Divider #################
$divider-light: #dadada;
$divider-dark: #3d3d3d;

//############## Text Field #################
$label-light: #474747;
$label-dark: #b4b4b4;
$text-field-uf-text-color-light: #333333;
$text-field-uf-text-color-dark: #d2d2d2;
$text-field-f-text-color-light: #161616;
$text-field-f-text-color-dark: #e5e5e5;
$text-field-d-text-color-light: #b4b4b4;
$text-field-d-text-color-dark: #5a5a5a;

$bg-dark: #0c0c0c;
$text-dark: #f9f9f9;
$page-loader-dark: #e5e5e5;
$navbar-bottom-border-dark: #242424;
$heading-text-dark: #f9f9f9;
$subheading-text-dark: #e0e0e0;
$title-text-dark: #c7c7c7;
$subtitle-text-dark: #aeaeae;
$info-text-dark: #ababab;