div.roundedImage__wrapper_div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

div.roundedImage__wrapper_div.zoom-hover {
  img {
    transition: all 250ms ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}