div.basicTextField__mainWrapper__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  label.basicTextField__fieldLabel__label {
    font-size: 14px;
    color: var(--field-label);
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  }

  label.basicTextField__errorLabel__label {
    font-size: 12px;
    color: #fa1515;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

div.basicTextField__textField__div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px 10px;
  border: 1px solid var(--text-field-border);
  border-radius: 6px;
  align-items: center;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  input {
    width: 100%;
    outline: none;
    border: none;
    color: var(--text-field-uf-color);
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    background: transparent;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

    &:focus {
      color: var(--text-field-f-color);
    }

    &:disabled, &:read-only {
      color: var(--text-field-d-color);
    }
  }
}

div.basicTextField__focused__div {
  outline: 2px solid var(--accent-color-700);
}

div.basicTextField__error__div {
  outline: 2px solid red;
}